{% load static %}

{% load render_partial %}

{% block content %}

<div class="product col-sm-3">
    <div>
      <div class="product_img">
        <a href="">
          <img src="{% static 'Images/apple_g5_powermac_2ghz_desktop_computer_1_medium.png' %}">
          <!-- <img src="{% static 'Images/showcase1_img.jpg' %}"> -->
        </a>
      </div>
      <div class="product_info">
        <div class="product_name">
          <a href="">گیره سوسماری</a>
        </div>
        <div class="product_price">
          <span class="money">
            1000 تومان
          </span>
        </div>

      </div>
    </div>
  </div>

  
{% endblock %}