{% load static %} {% load render_partial %} {% block content %}

<div class="product col-sm-3" style="cursor: pointer;">
  <div>
    <div class="product_img">
      <input type="hidden" value="{{ product.id }}">
      <a href="{{ product.get_absolute_url }}">
        <img src="{{ product.image.url }}" style="max-height: 300px; max-width: 300px;"/>
        <!-- <img src="{% static 'Images/showcase1_img.jpg' %}"> -->
      </a>
    </div>
    <div class="product_info">
      <div class="product_name">
        <a class="productTitle">{{product.title}}</a>
      </div>
      <div class="product_price">
        {% if product.priceOff != NaN %}

        <span class="money_khat ToPersian"> {{product.price}} تومان </span>

        <span class="money ToPersian" style="margin-top: 0">
          {{product.priceOff}} تومان
        </span>
        {% else %}
        <span class="money ToPersian"> {{product.price}} تومان </span>
        {%endif%}
      </div>
    </div>
  </div>
</div>

<!-- <script>
  var comp = document.querySelector(".product div")
  comp.onclick = function(){
    console.log("kiri")
    //window.location = "{{ product.get_absolute_url }}"
  };
</script> -->

{% endblock %}
