{% load static %}

{% load render_partial %}

{% block content %}

<div class="product col-sm-3">
    <div>
      <div class="product_img">
        <a href="">
          <img src="{{ product.image.url }}">
          <!-- <img src="{% static 'Images/showcase1_img.jpg' %}"> -->
        </a>
      </div>
      <div class="product_info">
        <div class="product_name">
          <a href="">{{product.title}}</a>
        </div>
        <div class="product_price">
          {% if product.priceOff != NaN %}

          <span class="money_khat ToPersian">
            {{product.price}} تومان
          </span>

          <span class="money ToPersian" style="margin-top: 0;">
            {{product.priceOff}} تومان
          </span> 
          {% else %}
          <span class="money ToPersian">
            {{product.price}} تومان
          </span>
          {%endif%}
        </div>

      </div>
    </div>
  </div>

  
{% endblock %}