/* .OrderContent{
    width: 100%;
    height: 100rem;
} */

/* .OrderContent .orderList{   
    width: 70%;
    background-color: blue;
    height: 100%;
} */

.OrderContent .orderPrice{
    /* width: 30%; */
    height: 100%;
}
.OrderContent .orderPrice h3{
    text-align: center;
    padding: 1rem;
    font-family: gandom;
    font-weight: bold;
}
.OrderContent .orderPrice>div>div:first-child{
    margin-top: 2rem;
}
.OrderContent .orderPrice>div>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.OrderContent .orderPrice>div:nth-child(2)
{
    border-bottom: 1px solid #dddddd;
}
.OrderContent .orderPrice>div:last-child>div
{
    font-weight: bold;
    font-family: Gandom;
}
.OrderContent .orderPrice>div:last-child>div>label
{
    font-size: 1rem;
}
.OrderContent .orderPrice>div:last-child>span{
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 3rem;
}

.orderList>div:first-child>h2{
    font: 300 25px Gandom;
}

.orderList>div:first-child>div{
    display: flex;
    align-items: center;
    justify-content: end;
    
}

.orderList>div:first-child>div>span,
.OrderContent .orderPrice>div:last-child>span,
.OrderContent .orderPrice>div:last-child>a

{
    color: var(--white2);
    background: #ce492b !important;
    transition: background .3s ease;
    font-size: 0.8rem;
    font-family: gandom;
}
.OrderContent .orderPrice>div:last-child>a{
    width: 100%;
}
.orderList>div:first-child>div>span:hover,
/* .OrderContent .orderPrice>div:last-child>span:hover */
.OrderContent .orderPrice>div:last-child>a:hover
{
    background: var(--blue) !important;
}

.orderList>div:first-child {
    margin: 0;
    padding: 0 0 10px;
    border-bottom: 1px solid #dddddd;
    font:Gandom;
    color: #333;
}

.content_order{
    margin: 0;
    padding: 0 0 10px;
    border-bottom: 2px solid #dddddd;
}

.content_order>div{
    padding: 1rem;
}
.content_order>div>img{
    height: 10rem;
    width: 10rem;
}

#purchase>div>input {
    border: none!important;
    padding: 0!important;
    text-align: center!important;
}
#purchase>label{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: gandom;
}
#purchase>div
{
    margin: 0!important;
}
.Prce span{
    color: var(--red);
    font-size: 1.1rem;
}
.remove_item i{
    cursor: pointer;
}

.remove_item i:hover{
    color: var(--red);
}

.money_khat {
    font-family: Gandom;
    text-decoration: line-through;
    padding: 0!important;
    font-size: 0.8rem!important;;
    display: block;
    margin-top: 2rem;
}

.money {
    color: var(--red);
    font-family: Gandom;
    font-size: 1rem!important;
    padding: 37px 0 0;
}
.update{
    display: flex;
    justify-content: center;
    align-items: center;
}
.update button{
    margin: 1rem;
    width: auto;
    height: 37px;
    padding: 0 15px;
    vertical-align: top;
    font-family: Gandom;
}