{% extends 'shared/_MainLayout.html' %} {% load static %} {% block content %}

<div id="main" role="main">
  <div class="container">
    <ul class="breadcrumb">
      <li class="firstItem">
        <a href="/" class="homepage-link" title="Back to the frontpage">خانه</a>
      </li>

      <li class="lastItem">
        <span class="page-title">بازیابی رمز عبور</span>
      </li>
    </ul>

    <div class="row sidebar_right sidebar_off">
      <div class="column_center">
        <div id="main_content" class="col-sm-12">

          <div id="template" class="customer customer__login">


            <div id="recover-password" class="customer customer__recover">
                <!-- ToDo -->
                <h2 class="page_heading">بازیابی رمز عبور</h2>
                <p class="note">بازیابی رمز عبور برای ایمیل شما ارسال شد</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
