{% extends 'shared/_MainLayout.html' %} {% load static %} {% block content %}

<div id="main" role="main">
  <div class="container">
    <ul class="breadcrumb">
      <li class="firstItem">
        <a href="/" class="homepage-link" title="Back to the frontpage">خانه</a>
      </li>

      <li class="lastItem">
        <span class="page-title">بازیابی رمز عبور</span>
      </li>
    </ul>

    <div class="row sidebar_right sidebar_off">
      <div class="column_center">
        <div id="main_content" class="col-sm-12">

          <div id="template" class="customer customer__login">


            <div id="recover-password" class="customer customer__recover">
                <!-- ToDo -->
                <h2 class="page_heading">بازیابی رمز عبور</h2>
                <p class="note">برای بازنشانی رمز عبور ایمیلی برای شما ارسال می کنیم.</p>
                <form method="post" accept-charset="UTF-8">
                    {% csrf_token %}

                    <div id="recover_email" class="clearfix form-horizontal">
                    <div class="form-group">
                        <label for="email" class="large col-sm-4">ایمیل</label>
                        <div class="col-sm-4">
                            <!-- <input class="form-control" type="email" value="" size="30" name="email" id="recover-email"> -->
                            {{ form.email }}
                          </div>
                    </div>
                    <div class="form-group action_bottom ">
                        <div class="col-sm-4 col-sm-offset-4">
                            <input class="btn btn-primary sendEmail" type="submit" value="ارسال">
                        </div>
                    </div>
                    </div>
                    </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
