{% extends 'shared/_MainLayout.html' %} {% load static %} {% block content %}
<!-- <p id="message">Hello</p> -->

<div id="demo" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {% for slider in sliders %}
      {% if slider.id == 1%}
        <button type="button" data-bs-target="#demo" data-bs-slide-to="{{ slider.id|add:'-1' }}" class="active" ></button>
      {% else %}
        <button type="button" data-bs-target="#demo" data-bs-slide-to="{{ slider.id|add:'-1' }}" ></button>
      {% endif %}
    {% endfor %}
  </div>

  <div class="carousel-inner">

    {% for slider in sliders %}
      {% if slider.id == 1%}
        <div class="carousel-item active">
          <div class="d-flex justify-content-center align-items-center pt-3 pb-3  w-50 h-100">
            <img src="{{slider.image.url}}" alt="Los Angeles" class="d-block w-75" />
          </div>
          <div class="carousel-caption  d-none d-md-block w-50">
            <h2>{{slider.title}}</h2>
            <h3>{{slider.description}}</h3>
            <h4 class="money ToPersian">{{slider.price}} تومان</h4>
            <a href="{{slider.link}}">خرید</a>
            <!-- <span href="#">خرید</span> -->
          </div>
        </div>
      {% else %}
        {% include 'slider_item_component.html' with slider=slider%}
      {% endif %}
      
    {% endfor %}
    

  </div>

    <span class="carousel-control-next-icon"></span>
  </button>
</div>

<div class="row bottomSlider">
  {% for slider_down in sliders_down %}
    {% include 'slider_item_down_component.html' with slider_down=slider_down%}
  {% endfor %}
  <!-- <div class="col-sm-12 col-lg-4 custom_showcase ">
      <a href="/collections/accessories">
        <img src="{% static 'Images/showcase1_img.jpg' %}">
        <div>
        <h3>لب تاب</h3>
        <h4>لورم ایپسوم متن ساختگی با </h4>
      </div>
      </a>
  </div> -->
  <!-- <div class="col-sm-12 col-lg-4 custom_showcase ">
      <a href="/collections/monitors">
        <img src="{% static 'Images/showcase1_img.jpg' %}">
        <div>
        <h3>دسکتاب</h3>
        <h4>لورم ایپسوم متن ساختگی با </h4>
      </div>
      </a>
  </div> -->
</div>
<!--  -->
<div id="main" role="main">
  <div class="container">
    <div class="row sidebar_right sidebar_off">
      <div class="column_center">
        <div id="main_content" class="col-sm-12">
          <div class="index-scope">
            <h2 class="page_heading">محصولات ویژه</h2>
            <div class="product-listing__index">
              <div class="product-listing">
                <div class="row lastItem firstItem">                 
                  {% for vige_product in vige_products %}

                  {% include 'product_item_component.html' with product=vige_product%}

                  {% endfor %}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="main" role="main">
  <div class="container">
    <div class="row sidebar_right sidebar_off">
      <div class="column_center">
        <div id="main_content" class="col-sm-12">
          <div class="index-scope">
            <h2 class="page_heading">محصولات پرطرفدار</h2>
            <div class="product-listing__index">
              <div class="product-listing">
                <div class="row lastItem firstItem">                 
                  {% for most_visit in most_visit_s %}

                  {% include 'product_item_component.html' with product=most_visit%}

                  {% endfor %}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 
<div id="main" role="main">
  <div class="container">
    <div class="row sidebar_right sidebar_off">
      <div class="column_center">
        <div id="main_content" class="col-sm-12">
          <div class="index-scope">
            <h2 class="page_heading">محصولات جدید</h2>
            <div class="product-listing__index">
              <div class="product-listing">
                <div class="row lastItem firstItem">                 
                  {% for latest_product in latest_products %}

                  {% include 'product_item_component.html' with product=latest_product%}

                  {% endfor %}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 

<!-- nd -->
<!-- bottom -->

<!-- end of bottom -->
  {% endblock %}
</div>
