{% extends 'shared/_MainLayout.html' %} {% load static %} {% block content %}

<div id="main" role="main">
    <div class="container">
      <div class="row sidebar_right sidebar_off">
        <div class="column_center">
          <div id="main_content" class="col-sm-12">
            <div class="index-scope">
              <div class="OrderContent">
                <div class="row">
                    <div class="orderList col-sm-9">
                        <div class="row">
                            <h2 class="col" style="border: none;">سبد خرید</h2>
                            <div class="col">
                                <span class="removeAll btn btn-cart">خالی کردن سبد خرید&nbsp;<i class="fa fa-trash" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        {% for order_partials_buy_ in order_partials_buy%}
                          {% include 'orderDetails_list_component.html' with orderDetial=order_partials_buy_%}
                        {% endfor %}
                    </div>
                    <div class="orderPrice col-sm-3">
                      <h3 class="ToPersian">{{count_off_all_product}} کالا در سبد خرید شما</h3>
                      <div>
                        <div>
                          <label>جمع کالا ها</label>
                          <span class="totla_price ToPersian">{{Total_price_for_all_product_buy}}‎ تومان</span>
                        </div>
                        <div>
                          <label>هزینه بسته بندی</label>
                          <span class="ToPersian">{{post_price}}‎ تومان</span>
                        </div>
                      </div>
                      <div>
                        <div>
                          <label>مجموع </label>
                          <span class="total ToPersian">{{Total_price_for_all_product_buy|add:post_price}}‎ تومان</span>
                        </div>
                        <span class="btn btn-cart">ادامه و پرداخت</span>

                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'js/list_of_buy_css.js' %}" type="module" ></script>
    <script src="{% static 'js/list_of_buy.js' %}" type="module" ></script>

{% endblock %}
