{% load static %} {% load render_partial %}
<!DOCTYPE html>
<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Final//EN"> -->
<html lang="en" dir="rtl">
  {% comment %} {% endcomment %} {% render_partial 'about_page_header' %}

  <body>
    <header>
      {% comment %} {% endcomment %} {% include 'shared/headerbrand.html' %}
    </header>
    {% include 'shared/nav.html' %} {% comment %} {% endcomment %}

    {% block content %} {% endblock %}
    {% include 'shared/footer.html' %}



    {% include 'shared/_FooterRefrences.html' %}  </body>
</html>
