{% load static %}
{% load render_partial %}

<footer id="footer">

    <div class="container">
    <div class="row">
        <div class="col-sm-3 custom_footer custom_footer1">
            <h3>اطلاعات</h3>
            <ul class="list">
                <li class="active firstItem"> <a href="">خانه</a> </li>
                <li><a href="">جست و جو</a></li>
                <li><a href="">درباره ی ما</a></li>
                <li><a href="">ارتباط با ما</a></li>
            </ul>
        </div>
        <div class="col-sm-3 custom_footer custom_footer2">
            <h3>محصولات</h3>
            <ul>
                <li><a href="">مانیتور</a></li>
                <li><a href="">هارد</a></li>
                <li><a href="">کیبورد</a></li>
                <li><a href="">مقاومت</a></li>
                <li><a href="">سلف</a></li>
            </ul>
        </div>
        <div class="col-sm-3 custom_footer custom_footer3">
            <h3>ما را دنبال کنید</h3>
            <ul>
                <li><a href=""><i class="fa-brands fa-twitter"></i>&nbsp;&nbsp;توییتر</a></li>
                <li><a href=""><i class="fa-brands fa-twitter"></i>&nbsp;&nbsp;توییتر</a></li>
                <li><a href=""><i class="fa-brands fa-twitter"></i>&nbsp;&nbsp;توییتر</a></li>
            </ul>
        </div>
        <div class="col-sm-3 custom_footer custom_footer4">
            <h3>
                تماس با ما
            </h3>
            <ul>
                <li>
                    <a href=""><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;غفاری 28 پلاک 41</a>
                </li>
                <li>
                    <a href=""><i class="fa-solid fa-phone"></i>&nbsp;&nbsp; 09367262334  </a>
                </li>
            </ul>
        </div>
    </div>
    </div>
</footer>
<div class="copyright">
    <div class="container" role="contentinfo">© 2025 Computers. All Rights Reserved. Design by <a href="//templatemonster.com">TemplateMonster.com</a>. <a target="_blank" rel="nofollow" href="https://www.shopify.com/website/hosting?utm_campaign=poweredby&amp;utm_medium=shopify&amp;utm_source=onlinestore">Website hosting by Shopify</a>.</div>
</div>
