{% load static %}
<div class="header">
    <div class="popup_alert">
      <div class="container">
        <div class="row">
          <p>نظر شما ثبت شد</p>
        </div>
      </div>
    </div>
    <div class="popup_order popup_order_none">
      <div class="popup_order_right"></div>
      <div class="popup_order_left"> 
        <div class="popup_order_left_top">
          <i class="fa fa-times" aria-hidden="true"></i>
          <p>سبد خرید</p>
        </div>
        <div class="items">
          {% for orderDetail in orderDetails %}
          <div class="product_order_comp">
            <div>
              <img src="{{orderDetail.product.image.url}}">
            </div>
            <div>
              <a href="">اپل</a>
              <p class="money  ToPersian">{{orderDetail.price}} تومان<span>&times;{{orderDetail.count}}</span></p>
            </div>
            <div>
              <input type="hidden" value="{{orderDetail.id}}">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </div>
          </div>
          {% endfor %}


          <div class="product_total">
            <p class="ToPersian">{{totalCount}} کالا در سبد خرید شما</p>
            <div>
              <p>جمع کالا ها</p>
              <p class="money  ToPersian">1000 تومان</p>
            </div>
            
            <a href="">مشاهده و پرداخت</a>
          </div>
        </div>
      </div>
    </div>
    <div class="header_row__1">
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <ul class="header_user">

              {% if not request.user.is_authenticated %}
              <li class="firstItem">
                <a href="{% url 'logIn' %}" id="customer_login_link">ورود</a>
              </li>
  
              <li>
                <a href="{% url 'createAccount' %}" id="customer_register_link" >ثبت نام</a >
              </li>
              {% else %}
              <li class="firstItem">
                <a href="{% url 'log_out' %}" id="customer_login_link">خروج</a>
              </li>
  
              <li>
                <a href="#" id="customer_register_link" >حساب کاربری</a >
              </li>
              {% endif %}
              <!-- <li class="checkout lastItem"><a href="/cart">Check out</a></li> -->
            </ul>
          </div>
          <div class="col-sm-5">
            <!-- CUSTOM HEADER BLOCK -->
            <div class="custom_header1">
              <h3>به فروشگاه ما خوش آمدید</h3>
            </div>
          </div>
          <div class="col-sm-2">
   
          </div>
        </div>
      </div>
    </div>

    <div class="container header_row__2">
      <div class="row">
        <div class="col-sm-7 col-md-8 col-lg-9">
          <!-- LOGO -->
           <div id="logo">
            <a href="/">
              <span>{{site_setting.title}}</span>
            </a>
           </div>
        </div>
        <div class="col-sm-5 col-md-4 col-lg-3">
          <div class="header_search">
            <form class="search-form" action="/products/search" method="GET">
              <input id="search-feild" type="text" name="q" placeholder="جستجو" class="hint" value="{{ request.GET.q }}">
              <!-- <input type="text" class="form-control" placeholder="جستجو کنید" value="{{ request.GET.q }}" name="q"/> -->
              <button id="search-submit" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </form>
          </div>
          <div class="header_cart">
            <a>    
              <i class="fa-solid fa-cart-shopping"></i>
              <span class="cart-total-items"><span class="count ToPersian">{{totalCount}}</span></span>
              <span>عدد</span>
            </a>
          </div>
        </div>
      </div>
    </div>