{% load static %}
<div id="navigation" style="position: sticky; top: 0px;">
    <div class="container">
    <nav role="navigation">
        <ul class="sf-menu visible-lg sf-js-enabled sf-arrows">

        <li class="first active firstItem">
            <a href="/" title="">خانه</a>
        </li>

        <li class="has-dropdown">
            <a href="{% url 'product_list' %}" title="" class="sf-with-ul">محصولات</a>
            
            <!-- <ul class="sub-menu" style="float: none; width: 19.4615em; display: none;"> -->
            <ul class="sub-menu">
            
                <li class="first firstItem" style="white-space: normal; float: none; width: 100%;">
                        <div class="right">
                            {% for category in categorys %}
                            <a class="first" href="/products/{{ category.name }}" style="float: none; width: auto;">
                                <input type="hidden" value="{{category.id}}">
                                {{ category.title }}
                            </a>
                            {% endfor %}
                        </div>
                            {% for category in categorys %}
                            <div class="left">
                                <input type="hidden" value="{{category.id}}">
                                {% for cat in category.children.all %}
                                    <a href="/products/{{ cat.name }}">{{cat.title}}</a>
                                {% endfor %}
                            </div>
                            {% endfor %}
                </li>
            </ul>
            
        </li>

        </li>
        
        
        <li class="">
            <a href="/pages/about-us" title="">درباره ی ما</a>
            
        </li>
        
        <li class="last lastItem">
            <a href="/pages/contact-us" title="">ارتباط با ما</a>
            
        </li>
        
        </ul>
        <select class="menu_mobile" name='m-menu' onchange='location = this.options[this.selectedIndex].value;'>
            <option value="/" >خانه</option>
            <option value="{% url 'product_list' %}" class="optionGroup">
                محصولات
            </option>
            {% for category in categorys %}
            <option value="/products/{{ category.name }}" fooData="{{category.id}}" class="optionChild">
                &nbsp;&nbsp;&nbsp;-{{category.title}}
            </option>
            {% for cat in category.children.all %}
            <option value="/products/{{ cat.name }}" fooData="{{cat.id}}" class="optionChild">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-{{cat.title}}
            </option>
            {% endfor %}
            {% endfor %}
            <option value="https://tm-shopify034-computers.myshopify.com/pages/about-us">درباره ما</option>
            <option value="https://tm-shopify034-computers.myshopify.com/pages/contact-us">ارتباط با ما</option>
        </select>
    </nav>
    </div>
    </div>