{% load static %}
<div id="navigation" style="position: relative; top: 0px;">
    <div class="container">
    <nav role="navigation">
        <ul class="sf-menu visible-lg sf-js-enabled sf-arrows">

        <li class="first active firstItem">
            <a href="/" title="">خانه</a>
        </li>

        <li class="has-dropdown">
            <a href="/collections/all" title="" class="sf-with-ul">محصولات</a>
            
            <!-- <ul class="sub-menu" style="float: none; width: 19.4615em; display: none;"> -->
            <ul class="sub-menu">
            
            
                <li class="first firstItem" style="white-space: normal; float: none; width: 100%;"><a class="first" href="/collections/monitors" style="float: none; width: auto;">دیود</a></li>
            
                <li class="" style="white-space: normal; float: none; width: 100%;"><a class="" href="/collections/hard-drives" style="float: none; width: auto;">مقاومت</a></li>
            
                <li class="" style="white-space: normal; float: none; width: 100%;"><a class="" href="/collections/keyboards-mice" style="float: none; width: auto;">خازن</a></li>
            
                <li class="" style="white-space: normal; float: none; width: 100%;"><a class="" href="/collections/cpus" style="float: none; width: auto;">سلف</a></li>
            
                <li class="last lastItem" style="white-space: normal; float: none; width: 100%;"><a class="last" href="/collections/accessories" style="float: none; width: auto;">رگولاتور</a></li>
            
            
            </ul>
            
        </li>

        </li>
        
        
        <li class="">
            <a href="/pages/about-us" title="">درباره ی ما</a>
            
        </li>
        
        <li class="last lastItem">
            <a href="/pages/contact-us" title="">ارتباط با ما</a>
            
        </li>
        
        </ul><select class="menu_mobile">
            <option value="https://tm-shopify034-computers.myshopify.com/" selected="selected">خانه</option>
            <option value="https://tm-shopify034-computers.myshopify.com/collections/all">محصولات</option>
            <option value="https://tm-shopify034-computers.myshopify.com/collections/monitors">-دیود</option>
            <option value="https://tm-shopify034-computers.myshopify.com/collections/hard-drives">-مقاومت</option>
            <option value="https://tm-shopify034-computers.myshopify.com/collections/keyboards-mice">-خازن</option>
            <option value="https://tm-shopify034-computers.myshopify.com/collections/cpus">-سلف</option>
            <option value="https://tm-shopify034-computers.myshopify.com/collections/accessories">-رگولاتور</option>
            <option value="https://tm-shopify034-computers.myshopify.com/pages/about-us">درباره ما</option>
            <option value="https://tm-shopify034-computers.myshopify.com/pages/contact-us">ارتباط با ما</option>
        </select>
    </nav>
    </div>
    </div>