{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}

<div id="main" role="main">
    <div class="container">
      <div class="row sidebar_right sidebar_off">
        <div class="column_center">
          <div id="main_content" class="col-sm-12">
            <div class="index-scope">
              <div class="OrderContent">
                <div class="row">

                    <div class="col-sm-9 orderList">
                        
                        <form method="post" action="{% url 'paymentMethod' %}">
                                {% csrf_token %}
                                <div class="right">

                                    <div class="row header_add_post_order">
                                      <h2 class="col" style="border: none;">روش ارسال</h2>
                                    </div>
                                    <div class="khat"></div>

                                    {% for carriersChoice in carriersChoices %}
                                    <div class="item_for_carriers">
                                        {{carriersChoice.tag}}
                                        <div>
                                            <div>
                                              {% if 'پست' in carriersChoice.data.label %}
                                              <img src="{% static 'images/post.jpg' %}" alt="">
                                              {% elif 'تیپاکس' in carriersChoice.data.label %}
                                              <img src="{% static 'images/tipax.png' %}" alt="">
                                              {% elif 'باربری' in carriersChoice.data.label %}
                                              <img src="{% static 'images/bar_bari.jpg' %}" alt="">
                                              {% endif %}
                                            </div>
                                            <p class="label">
                                                {{ carriersChoice.data.label }}
                                            </p>
                                            {% if 'پست' in carriersChoice.data.label %}
                                            <h1>
                                                ارسال به اداره پست در اولین روز کاری بعد از سفارش
                                            </h1>
                                            <p>
                                                <span class="ToPersian">
                                                    28000 تومان
                                                </span>
                                            </p>
                                            {% elif 'تیپاکس' in carriersChoice.data.label %}
                                            <h1>
                                                ارسال در همان روز
                                            </h1>
                                            <p>
                                                پس کرایه
                                            </p>
                                            {% elif 'باربری' in carriersChoice.data.label %}
                                            <h1>
                                                ارسال در همان روز
                                            </h1>
                                            <p>
                                                پس کرایه
                                            </p>
                                            {% endif %}
                                        </div>

                                    </div>
                                    {% endfor %}

                                </div>
                            
                    </div>
                    <div class="orderPrice col-sm-3">
                      <h3 class="ToPersian">{{count_off_all_product}} کالا در سبد خرید شما</h3>
                      <div>
                        <div>
                          <label>جمع کالا ها</label>
                          <span class="totla_price ToPersian">{{Total_price_for_all_product_buy}}‎ تومان</span>
                        </div>
                        <div>
                          <label>هزینه بسته بندی</label>
                          <span class="ToPersian sendPrice">{{post_price}}‎ تومان</span>
                        </div>
                      </div>
                      <div>
                        <div>
                          <label>مجموع </label>
                          <span class="total ToPersian">{{Total_price_for_all_product_buy|add:post_price}}‎ تومان</span>
                        </div>
                        <!-- <span class="btn btn-cart">ادامه و پرداخت</span> -->
                        <!-- <a class="btn btn-cart" href="{% url 'post_order' %}">ادامه و پرداخت</a> -->
                        <input class="continue btn btn-cart" type="submit" value="ادامه">
                        </form>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


<script src="{% static 'js/list_of_buy_css.js' %}" type="module" ></script>
<script src="{% static 'js/post_order_css.js' %}" type="module" ></script>  
<script src="{% static 'js/add_userAdressDetail_css.js' %}" type="module" ></script>
{% endblock %}